<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RegistrationServiceBehavior"
        name="Miku.Server.WCFServices.RegistrationService">
        <endpoint address="http://localhost:8000/RegirstatorService"
          behaviorConfiguration="EndpointRegistrationServiceBehavior"
          binding="webHttpBinding" contract="Miku.Server.WCFServices.IRegistrationService" />
      </service>
      <service name="Miku.Server.WCFServices.RemoteControlService">
        <endpoint address="" binding="wsHttpBinding" contract="Miku.Server.WCFServices.IRemoteControlService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointRegistrationServiceBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="RegistrationServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
